<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ioana.musicalapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlbumsActivity"
            android:label="@string/albumsActivity" />
        <activity
            android:name=".SongsActivity"
            android:label="@string/songsActivity" />
        <activity
            android:name=".AdeleBiography"
            android:label="@string/adeleBiography" />
        <activity
            android:name=".BrunoMarsBiography"
            android:label="@string/brunoMarsBiography" />
        <activity
            android:name=".EdSheeranBiography"
            android:label="@string/brunoMarsBiography" />
        <activity
            android:name=".KygoBiography"
            android:label="@string/kygoBiography"></activity>
    </application>

</manifest>